@font-face {
  font-family: 'Monument Grotesk';
  src: local('Monument Grotesk Mono'), local('Monument-Grotesk-Mono'),
      url('/fonts/MonumentGrotesk-Mono/MonumentGrotesk-Mono.woff2') format('woff2'),
      url('/fonts/MonumentGrotesk-Mono/MonumentGrotesk-Mono.woff') format('woff'),
      url('/fonts/MonumentGrotesk-Mono/MonumentGrotesk-Mono.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mont";
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
  font-weight: 900;
  src: url('/fonts/Mont/MontBlack_normal_normal.woff2') format('woff2'), 
       url('/fonts/Mont/MontBlack_normal_normal.woff') format('woff');
}

@font-face {
  font-family: "Mont";
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
  font-weight: 700;
  src: url('/fonts/Mont/MontSemiBold_normal_normal.woff2') format('woff2'), 
       url('/fonts/Mont/MontSemiBold_normal_normal.woff') format('woff');
}

@font-face {
  font-family: "Mont";
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
  font-weight: 500;
  src: url('/fonts/Mont/MontRegular_normal_normal.woff2') format('woff2'), 
       url('/fonts/Mont/MontRegular_normal_normal.woff') format('woff');
}

@font-face {
  font-family: "Mont";
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
  font-weight: 300;
  src: url('/fonts/Mont/MontBook_normal_normal.woff2') format('woff2'), 
       url('/fonts/Mont/MontBook_normal_normal.woff') format('woff');
}


@font-face {
  font-family: "Mont";
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
  font-weight: 200;
  src: url('/fonts/Mont/MontThin_normal_normal.woff2') format('woff2'), 
       url('/fonts/Mont/MontThin_normal_normal.woff') format('woff');
}
@font-face {
  font-family: "MontBoldItalic";
  font-style: italic;
  font-stretch: normal;
  font-display: swap;
  src: url('/fonts/Mont/MontBoldItalic_italic_normal.woff2') format('woff2'), 
       url('/fonts/Mont/MontBoldItalic_italic_normal.woff') format('woff');
}


html,
body {
  font-family: Mont, sans-serif;
  font-size: 14px;
  letter-spacing: .8px;
  line-height: 1.71;
}

* {
  box-sizing: border-box;
}
