@font-face {
  font-family: 'Monument Grotesk';
  src: local('Monument Grotesk Mono'), local('Monument-Grotesk-Mono'),
      url('/fonts/MonumentGrotesk-Mono/MonumentGrotesk-Mono.woff2') format('woff2'),
      url('/fonts/MonumentGrotesk-Mono/MonumentGrotesk-Mono.woff') format('woff'),
      url('/fonts/MonumentGrotesk-Mono/MonumentGrotesk-Mono.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html,
body {

  font-family: Monument Grotesk Mono,Monaco,Courier,monospace;
  font-size: 14px;
  letter-spacing: .8px;
  line-height: 1.71;
}

a {
  font-family: Monument Grotesk Mono,Monaco,Courier,monospace;
  font-size: 14px;
  letter-spacing: .8px;
  line-height: 1.71;
  position: relative;
  padding: 10px 20px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}

a::before {
  position: absolute;
  content: "[";
  left: 0;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}
a::after {
  position: absolute;
  content: "]";
  right: 0;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

a:hover:before {
  opacity: .5;
}
a:hover:after {
  opacity: .5;
}

a:visited {
  color: #fff;
}

* {
  box-sizing: border-box;
}
